* {
	margin: 0;
	padding: 0;
}
.box1 {
	border:1px solid green;
	margin:20px;
	height: 150px;
	width: 150px;
	box-shadow: 3px 4px 3px blue;
	text-align: center;
}
.box2 {
	background-image: url(img/logo.jpg);
	height: 500px;
	color: #fff;
	border-radius: 10px;
}